.card-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: -30px;
}

.card {
  background-color: transparent !important;
  border: none !important;
  outline: none;
  height: 30rem !important;
}
.img {
  border-radius: 0.7rem;
}

.love {
  color: #f6bd60;
  font-size: 1.7rem;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.text-warning {
  color: #f6bd60 !important;
}

.svg {
  top: -28px;
  left: 20px;
  position: relative;
  overflow: visible;
  height: 40px;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pagination {
  --bs-pagination-bg: #212529;
  --bs-pagination-color: gray;
  --bs-pagination-border-color: #f6bd60;
  --bs-pagination-hover-bg: #f6bd60;
  --bs-pagination-active-border-color: #f6bd60;
  --bs-pagination-hover-color: none;
  --bs-pagination-focus-color: #f6bd60;
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0.2rem 0.2rem 0 0.25rem rgba(0, 0, 0, 0.2);
  --bs-pagination-active-color: #gray;
  --bs-pagination-active-bg: #f6bd60;
  --bs-pagination-active-border-color: #f6bd60;
}
