<div
  class="content d-flex flex-column justify-content-center bg-dark text-white"
>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <p class="fs-1 fw-medium">Welcome to our movie app</p>
    <p class="fw-lighter fs-3">
      mellions of movies,tv shows and people to discover. Explorenow
    </p>
  </div>

  <div class="d-flex align-items-center justify-content-around h-50 mx-5">
    <input
      type="text"
      class="form-control me-3 search p-2"
      placeholder="search"
    />
    <button class="bttun">search</button>
  </div>
</div>
