.content {
  margin-top: 4.5rem;
  height: 50vh;
  background-color: white !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../public/assets/movie.jpg");
  background-position: center;
  background-size: cover;
}

.bttun {
  background-color: #f6bd60;
  outline: none;
  border: none;
  border-radius: 3rem;
  color: #f7ede2;
  padding: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  text-align: center;
}

.bttun:hover {
  background-color: #f7ede2;
  color: #f6bd60;
  border: 1px solid #f6bd60;
}

.search {
  border: none;
  outline: none;
  border-radius: 0.7rem;
  padding: 4rem;
  text-indent: 1.5rem;
  color: gray;
}
.search::placeholder {
  color: #f6bd60;
  padding-left: 1rem;
}

.search:focus,
.search:hover {
  outline: none;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.6rem 0.2rem #f6bd60;
}
