<div
  class="container d-flex flex-column justify-content-around bg-body-tertiary"
>
  <div class="ms-4">
    <p class="fs-2 fw-medium">Welcome to our movie app</p>
    <p class="fw-lighter">
      mellions of movies,tv shows and people to discover. Explorenow
    </p>
  </div>

  <div
    class="d-flex align-items-center justify-content-around ms-4 me-3 mb-3 h-50"
  >
    <input
      type="text"
      class="form-control me-3 search p-2"
      placeholder="search"
    />
    <button class="bttun">search</button>
  </div>
</div>
